UserData/

/bin/.vs/bin/v17/.suo
*.suo
/bin/Code/.vs/Code/FileContentIndex
/bin/.vs/bin/v17
/bin/.vs/slnx.sqlite
/bin/.vs/VSWorkspaceState.json
/.vs
/bin/Code/.vs
/bin/OS/win32/Engines/cyrano/Backup/Cyrano.sln
/bin/OS/win32/Engines/cyrano/UpgradeLog.htm
/Resources/IntFiles/engineinfos.txt
/Resources/IntFiles/showEngines.bsh
/bin/OS/win32/Engines/rodentII/Sam.uci_options
/bin/OS/win32/Engines/rodentII/Riiiip.uci_options
/bin/OS/win32/Engines/rodentII/Indizes - RodentII.uci_options
/bin/OS/win32/Engines/rodentII/Kandidaten_ rodentii.uci_options
/bin/OS/win32/Engines/rodentII/Kinghunter.uci_options
*.pyc
*.dll
*.bsh
*.pyd
/Resources/Openings/pgns
